# ==========================
# Archivos y carpetas comunes de Node.js
# ==========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# ==========================
# Archivos de entorno
# ==========================
.env
.env.local
.env.*.local

# ==========================
# fixtures
# ==========================
cypress/fixtures/usuarios.json


# ==========================
# Archivos del sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Carpetas generadas por Cypress
# ==========================

# Videos grabados durante las pruebas
cypress/videos/

# Screenshots tomados en fallos o visual tests
cypress/screenshots/

# Caché interna de Cypress
cypress/cache/

# Resultados temporales o de ejecución
cypress/results/
cypress/downloads/

# ==========================
# Archivos de configuración del IDE
# ==========================
.vscode/
.idea/
*.swp

# ==========================
# Build o dist
# ==========================
dist/
build/
